.terms-wrapper{
  border-top: 1px solid var(--input-stroke);
  margin-top: 3rem;

  display: flex;
  gap: .25rem;
  flex-direction: column;
  align-items: flex-start;

  & strong{
    font-weight: 600;
    color: var(--brand-light);
  }
  
  & > :first-child{
    margin-top: 2.5rem;
  }
}

.checkbox-wrapper{
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: flex-start;

  & [type="checkbox"]{
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image{
    flex: 0 0 1.5rem;
    height: 1.5rem;

    background-image: url(../../assets/icons/checkbox-default.svg);
    background-repeat: no-repeat;
  }

  &:has(:checked) .checkbox-image{
      background-image: url(../../assets/icons/checkbox-checked.svg);
  }
}
