input, textarea, select{
  appearance: none;
  width: 100%;
  border-radius: .666rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  color: var(--input-placeholder);

  padding: .8125rem 1rem;
  font: var(--body-md);

  &::placeholder{
    color: var(--input-placeholder);
    font: var(--body-md);
  }
}

label{
  font: var(--body-sm);
  color: var(--text-body);

  display: block;
  margin-bottom: .75rem;
}

/* em foco */
input:focus, 
select:focus, 
textarea:focus{
  outline: none;
  border: 1px solid var(--brand-light);
  outline-offset: .1px;
}

input[type="datetime-local"]{
  &::-webkit-calendar-picker-indicator{
    display: none;
  }
}

.event-info .flex{
  gap: 1rem;
}

label + .radio-wrapper{
  margin-top: 1rem;
}

input, textarea{
  &:invalid{
    border: 0.125rem solid var(--danger);
  }

  &[required] + .error{
    display: flex;
    align-items: center;
    gap: .5rem;

    font: var(--body-xs);
    color: var(--danger);

    margin-top: .5rem;
  }

  &:not(:focus):valid + .error{
    display: none;
  }
}
