.radio-wrapper-colors{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: .5rem;
}

.radio-inner {
  & input {
    display: none;
  }

  & input:checked + .circle {
    border-color: var(--brand-light);
  }

  .circle {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: .1875rem solid transparent;
  cursor: pointer;
  }
}


