.radio-to-choose{
  background-color: var(--input-base);
  display: flex;
  height: 3rem;
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
  
  & input[type="radio"]{
    display: none;
  }

  & label{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75em;
  margin: 0.33rem;
  gap: .5rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: .5rem;
  }
 

  & input:checked + label{
  background-color: var(--shape-button);
  }

}

label + .radio-wrapper{
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
}

.color-option input {
  display: none;
}

.circle {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: .1875rem solid transparent;
  cursor: pointer;
}

.color-option input:checked + .circle {
  border-color: var(--brand-light);
}