.radio-to-choose{
  background-color: var(--input-base);
  display: flex;
  height: 3rem;
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
  
  & input[type="radio"]{
    display: none;
  }

  & label{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75em;
  margin: 0.33rem;
  gap: .5rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: .5rem;
  }
 

  & input:checked + label{
  background-color: var(--shape-button);
  }

}


