.style-wrapper {
  display: flex;
  align-items: center;
  gap: .75rem;
  position: relative;

  & p {
    font: var(--body-sm);
    color: var(--text-heading);
  }
}

.dark-card-style {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 1rem;
  width: 4rem;
  height: 2rem;
  padding: .25rem;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.dark-card-style input {
  all: unset;
  position:absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.dark-card-style:has(input:checked) {
  border: 1px solid var(--brand-light);
  background-color: var(--brand-light);
  & .button-dark {
    transform: translateX(1.8rem);
    background-color: var(--text-heading);
  }
}

.button-dark {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--input-stroke);
}

.style-wrapper p {
  color: transparent;
  position: relative;
}

.style-wrapper p::after {
  content: "Escuro";
  color: var(--text-heading);
  position: absolute;
  left: 0;  
  top: 0; 
}

.style-wrapper:has(input:checked) p::after {
  content: "Claro";
}