#invitation{
  background-color: var(--shape-background);
  display: grid;
  grid-template-columns: 32.78% 67.22%;
  gap: 1.25rem;

  height: 100vh;
  overflow: hidden;
}

main {
  padding: 2rem;
  background: url(../assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  
  border-radius: .75rem;
  
  & .main-container {
    max-width: 21rem;
    margin: auto;
  }

  h1 {
    color: var(--pink);
    font: var(--logo);
  }

  p {
    color: var(--text-body);
    font: var(--body-md);
  }

  img {
    height: auto;
    margin-bottom: 16px;
  }

}

aside{
  overflow: auto;
  background-color: var(--shape-body);
  padding: 5rem 8.125rem;
  
  & .aside-container{
    max-width: 35rem;
  }

  h1{
    color: var(--text-body);
    font: var(--heading-md);
    margin-bottom: 2.5rem;
  }

}